/* carouselSection.module.css */
.carouselContainer {
  overflow: hidden;
  width: max-content;
  position: relative;
}

.carouselInner {
  display: flex;
  width: max-content; /* Ajusta el ancho para contener todas las imágenes */
  animation: scroll 40s linear infinite; /* Animación para el desplazamiento continuo */
}

.carouselSlide {
  min-width: 20%; /* Cada imagen ocupa el 20% del ancho total */
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  text-align: center;
}

.icon {
  max-width: 100%;
  height: auto;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
