.contactenos {
  background-color: #f16824;
  position: relative;
  padding: 20px;
  font-family:"Montserrat", sans-serif;
  width: 100%;
}

.imageContainer {
  position: relative;
}

.overlayText {
  position: absolute;
  bottom: 10px; /* Posiciona el texto cerca de la base de la imagen */
  right: -100%; /* Comienza fuera de la pantalla, a la derecha */
  color: #fffbf9;
  padding: 10px;
  text-align: right;
  animation: slideInFromRight 10s forwards;
  white-space: nowrap; /* Asegura que el texto esté en una línea */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 100px;
  
 }

 .parrafoUno {
  color: #ffffff;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;

}

.parrafoDos {
  color: #f16824;;
  font-size: 110px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  margin:0;
  
}

@keyframes slideInFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.backgroundImage {
  width: 100%;
  height: auto;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: auto;
    
}

.title {
  padding: 10px;
  margin: 0;
  font-size: 80px;
  font-weight: 900;
  text-align: left;
}

.introText {
  padding: 10px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  width: 50%;

}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos */
  
}

.right {
  width: 50%;
  background-color: #0056b3;
  padding: 10px;
  align-self: flex-start;

}

.field {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
