.contactenos {
  background-color: #f16824;
  position: relative;
  padding: 20px;
  font-family:"Montserrat", sans-serif;
  width: 100%;
}

.imageContainer {
  position: relative;
}

.overlayText {
  position: absolute;
  bottom: 10px; /* Posiciona el texto cerca de la base de la imagen */
  right: -100%; /* Comienza fuera de la pantalla, a la derecha */
  color: #fffbf9;
  padding: 10px;
  text-align: right;
  animation: slideInFromRight 10s forwards;
  white-space: nowrap; /* Asegura que el texto esté en una línea */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 100px;
  
 }

 .parrafoUno {
  color: #ffffff;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;

}

.parrafoDos {
  color: #f16824;;
  font-size: 110px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  margin:0;
  }

@keyframes slideInFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.backgroundImage {
  width: 100%;
  height: auto;
}
.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Opcional: espacio entre las columnas */
}

.left, .right {
  flex: 1; /* Ambos contenedores ocupan el mismo espacio */
  padding: 20px; /* Opcional: espacio interno para el contenido */
  box-sizing: border-box;
}
.right {
background-color: #ff8000;
}
.title {
  margin:0;
  padding: 10px;
  font-size: 70px;
  font-weight: 900;
}

.introText {
  font-size: 20px;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-family: 'Monserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.textArea {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
.contactenos::before {
  content: "";
  position:initial;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
  border-left: 10px solid transparent;
  border-bottom: 400px solid #f8fd63;
}