.contactenos {
  background-color: #f16824;
  position: relative;
  padding: 0px 10px 15px;
  font-family:"Montserrat", sans-serif;
  width: 100%;
  overflow: hidden; /* Asegura que los elementos absolutamente posicionados no desborden el contenedor */

}

.imageContainer {
  position: relative;
}

.overlayText {
  position: absolute;
  bottom: 10px; /* Posiciona el texto cerca de la base de la imagen */
  right: -100%; /* Comienza fuera de la pantalla, a la derecha */
  color: #fffbf9;
  padding: 10px;
  text-align: right;
  animation: slideInFromRight 10s forwards;
  white-space: nowrap; /* Asegura que el texto esté en una línea */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 100px;
  
 }

 .parrafoUno {
  color: #ffffff;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;

}

.parrafoDos {
  color: #f16824;;
  font-size: 110px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  margin:0;
  }

@keyframes slideInFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.backgroundImage {
  width: 100%;
  height: auto;
  position: relative; /* Permanece en su lugar relativo al contenedor */
  z-index: 1;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Opcional: espacio entre las columnas */
  position: relative;
  z-index: 2; /* Establece z-index para que esté delante de la imagen de fondo */
}

.polygonImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0; /* Asegura que esté detrás del contenido */
  
}

.left, .right {
  flex: 1; /* Ambos contenedores ocupan el mismo espacio */
  padding: 20px; /* Opcional: espacio interno para el contenido */
  box-sizing: border-box;
}
.right {
background-color: #ff8000;
width: 50%;
}
.title {
  margin:0;
  padding: 50px;
  font-family:"Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 900;
  text-align: left;
}

.introText {
  font-family:"Montserrat", sans-serif;
  font-size: 25px;
  padding: 50px;
  margin-top: 10px;
  text-align: left;
}

.field {
  width: 75%;
  padding:  0 11% 5%;
  margin: 10px;
  display: flex;
  flex-direction: column;  
  }

.label {
  margin-bottom: 5px;
  font-family:"Montserrat", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size: 20px;
}

.input {
  padding: 20px;
  margin-bottom: 15px;
  font-family: "Monserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
}

.messageContainer {
  padding:  0 11% 12%;
  margin: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.textArea {
  font-family:"Montserrat", sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

.submitButton {
  font-family:"Montserrat", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
.contactenos::before {
  content: "";
  position:absolute;
  width: 100;
  height: 100;
  z-index: -1; /* Asegura que esté detrás de todo el contenido */

}
