.logo {
  background-color: orange;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Estilos generales para el contenedor del logo */
}

.logoImg {
  width: 40%;
  height: auto;
  /* Estilos específicos para la imagen del logo */
}


