.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 15px;
  background-color: #f16824;
  box-shadow: 0 1px 4px #e5e3e3;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.frameParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 1%;
  box-shadow: 0 4px 8px #656060;
}

.logoWrapper {
  flex: 1;
}

.logoIcon {
  width: 40%;
  height: auto;
}

.navigation {
  display: flex;
  flex: 3;
  justify-content: flex-end;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-left: 40px;
}

.navList a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
}

.dropdown {
  position: relative;
}

.dropdownToggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  
}

.dropdownIcon {
  margin-left: 8px;
  width: 25px;
  height: 25px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right:0;
  background-color: white;
  list-style: none;
  padding: 1px;
  margin: 1px;
  z-index: 1;
  border: 1px #ddd;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px #f9f8f833;

}

.dropdownItem {
  padding: 8px 16px;
}

.dropdownItem a {
  text-decoration: none;
  color: #050505;
}

.dropdownItem a:hover {
  background-color: #f1f1f1;
}
