.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 15px;
  background-color: #f16824; 
  box-shadow: 0 1px 4px #e5e3e3;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.frameParent {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 1% 1%;
}
.logoWrapper {
  flex: 1;
}

.logoIcon {
  width: 40%; /* Reduce el tamaño del logo a la mitad */
  height: auto;
}

.navigation {
  display: flex;
  flex: 3;
  justify-content: flex-end;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-left: 40px;
}

.navList li a {
  text-decoration: none;
  color: #000; /* Color del texto de los enlaces */
  font-weight:normal;


}