.navCele {
  background-color: #f16824;
  padding: 0;
  align-items:center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.navCeleInner {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #000000;
  
}


.navLinks {
  display: flex;
  gap: 100px;
}

.navLink {
  text-decoration: #0000ff;
  color: #ffffff;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.maskGroupIcon {
  margin-top: 20px;
  width: 100px;
  height: auto;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scrollToTop:after {
  content: "↑";
  font-size: 20px;
}
