.questionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
.questionsContainer {
    width: 100%;
    margin: 0;
    
  }

  .slide {
    display:grid;
    grid-template-rows: 5;
    align-items: center;
    justify-content: center;

  }

  .textWrapper {
    order: 1;
    max-width: 50%;
    text-align: left;
  }
  